@mixin border-radius($radius) {
    -webkit-boder-radius: $radius;
    -moz-border-radius: $radius;
        border-radius: $radius;
}

@mixin flexbox($justify-center: center, $align-center: center) {
    display: flex;
    justify-content: $justify-center;
    align-items: $align-center;
}

@mixin slide-in($duration) {
    @keyframes slide-in {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }

    & {
        animation: slide-in $duration linear;
    }
}